<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Current area of work</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.areaofwork" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.areaofwork" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.areaofwork" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.areaofwork" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.areaofwork" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Volume of Work</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.volumeofwork" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.volumeofwork" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.volumeofwork" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.volumeofwork" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.volumeofwork" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Work-Life Balance</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.balance" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.balance" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.balance" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.balance" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.balance" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Work Environment</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.environment" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.environment" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.environment" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.environment" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.environment" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Help/Cooperation you get from other team members</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.help" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.help" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.help" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.help" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.help" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Sufficient opportunities to learn new technologies</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.learn" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.learn" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.learn" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.learn" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.learn" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Timely communication about corporate updates</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.communication" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.communication" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.communication" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.communication" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.communication" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Fairness of the appraisal process followed within the portfolio</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.appraisal" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.appraisal" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.appraisal" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.appraisal" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.appraisal" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Rewards and Recognition programme within the portfolio</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.rnr" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.rnr" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.rnr" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.rnr" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.rnr" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Leadership Connect within the portfolio</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.leadership" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.leadership" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.leadership" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.leadership" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.leadership" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname" class="port-questions">Participation in the People connect activities</label>
            <br>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.peopleconnect" value="1">Very Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.peopleconnect" value="2">Dissatisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.peopleconnect" value="3">Neutral</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.peopleconnect" value="4">Moderately Satisfied</label>
            <label class="radio-inline">
                <input type="radio" ng-model="portfolio.peopleconnect" value="5">Very Satisfied</label>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname">Your detailed feedback on any of the above points</label>
            <br>
            <textarea rows="4" cols="50" class="commentbox" ng-model="portfolio.comments"></textarea>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <h4><label>A Quick Word about the Portfolio</label></h4>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname">Things you like the most in the portfolio</label>
            <br>
            <textarea rows="4" cols="50" class="commentbox" ng-model="portfolio.likes"></textarea>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname">Things you dislike the most in the portfolio</label>
            <br>
            <textarea rows="4" cols="50" class="commentbox" ng-model="portfolio.dislikes"></textarea>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname">Suggestions how the portfolio can be made better</label>
            <br>
            <textarea rows="4" cols="50" class="commentbox" ng-model="portfolio.suggestions"></textarea>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <div class="form-group floating-label">
            <label for="searchbyname">If left to you would you feel better if you were offered a new role within/outside the portfolio?</label>
            <br>
            <label class="radio padding20">
                <input type="radio" ng-model="portfolio.aspire" value="Y">Yes</label>
            <label class="radio padding20">
                <input type="radio" ng-model="portfolio.aspire" value="N">No</label>
            <label class="radio padding20">
                <input type="radio" ng-model="portfolio.aspire" value="M">Maybe</label>
            <label> Please Specify
                <textarea rows="4" cols="50" class="commentbox" ng-model="portfolio.aspirecomment"></textarea>   
        </div>
    </div>
</div>
<div id="bottom" class="form-group row">
    <div class="col-md-3">
        <a class="btn btn-info" ng-click="previousState('form.teammates')">
    Previous Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    </div>
    <div class="col-md-offset-6 col-md-3 pull-right">
        <a class="btn btn-info" ng-click="nextState('form.feedback')">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>