<div class="form-group row">
    <div class="col-md-12">
        <div class="form-group floating-label">
            <label for="searchbyname">Thanks a lot for taking the time out for this survey. We hope this is going to help us rectify and sort out certain things from our end as well. Please let us know your views and suggestions..or anything you feel like sharing with us. We are eager to hear from you.</label>
            <br>
            <textarea rows="4" cols="50" class="commentbox" ng-model="feedback.comment"></textarea>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">
        <a class="btn btn-info" ng-click="previousState('form.portfolio')">
    Previous Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    </div>
    <div class="col-md-offset-6 col-md-3 pull-right">
        <button type="submit" class="btn btn-success">Submit Survey</button>
    </a>
    </div>
</div>